@page
@model RecipeBook.WebApp.Pages.Difficulties.RetrieveAllModel
@{
}
<h1>Recipe Management</h1>

<div>
    <a asp-page="Create">Create a New Recipe</a>
</div>
div>
<a asp-page="Retrieve">My Recipes</a>
</div>

