@page
@model RecipeBook.WebApp.Pages.Admin.AdminModel




<h1>Admin Create Panel</h1>


<div>

    <a asp-page="/Categories/Create" class="btn btn-primary d-block mb-2">Category options</a>
</div>

<div>
    <a asp-page="/Difficulties/Create" class="btn btn-primary d-block mb-2">Difficulty options</a>
</div>

<div>
    <a asp-page="/Ingredientss/Create" class="btn btn-primary d-block mb-2">Ingredients options</a>
</div>

<div>
    <a asp-page="/Measure/Create" class="btn btn-primary d-block mb-2">Measure options</a>
</div>

<h1>Admin User Options </h1>

<div>
    <a asp-page="/UserAdmin/Create" class="btn btn-primary d-block mb-1">Create</a>
</div>

<div>
    <a asp-page="/UserAdmin/RetrieveAll" class="btn btn-primary d-block mb-1">RetrieveAll</a>
</div>

<h1>Admin Recipe Options </h1>

<div>
    <a asp-page="/RecipesAdmin/Create" class="btn btn-primary d-block mb-1">Create</a>
</div>

<div>
    <a asp-page="/RecipesAdmin/RetrieveAll" class="btn btn-primary d-block mb-1">RetrieveAll</a>
</div>

<div>
    <a asp-page="/RecipesAdmin/PendingList" class="btn btn-primary d-block mb-1">Pending Income</a>
</div>

