@page
@model RecipeBook.WebApp.Pages.UserPage.UserRecipe.UserRecipeModel

<button class="btn btn-secondary" onclick="window.history.back()">Go Back</button>

<h1> Recipe Options </h1>

<div>
    <a asp-page="/Recipes/Create" class="btn btn-primary d-block mb-1">Create</a>
</div>

<div>
    <a asp-page="/Recipes/RetrieveAll" class="btn btn-primary d-block mb-1">RetrieveAll</a>
</div>

